In [38]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os

Cell_phones = pd.read_json('C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Cell_Phones_and_Accessories.json', lines=True)

In [39]:
Cell_phones.shape

(3185845, 12)

In [40]:
Cell_phones.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a1321d5741a2384e802c552'},A3HVRXV0LVJN7,0110400550,BiancaNicole,"[4, 4]",Best phone case ever . Everywhere I go I get a...,5,A++++,1358035200,"01 13, 2013",Cell_Phones_and_Accessories,1
1,{'$oid': '5a1321d5741a2384e802c557'},A1BJGDS0L1IO6I,0110400550,"cf ""t""","[0, 3]",ITEM NOT SENT from Blue Top Company in Hong Ko...,1,ITEM NOT SENT!!,1359504000,"01 30, 2013",Cell_Phones_and_Accessories,0
2,{'$oid': '5a1321d5741a2384e802c550'},A1YX2RBMS1L9L,0110400550,Andrea Busch,"[0, 0]",Saw this same case at a theme park store for 2...,5,Great product,1353542400,"11 22, 2012",Cell_Phones_and_Accessories,1
3,{'$oid': '5a1321d5741a2384e802c553'},A180NNPPKWCCU0,0110400550,Aniya pennington,"[3, 3]",case fits perfectly and I always gets complime...,5,Perfect,1374105600,"07 18, 2013",Cell_Phones_and_Accessories,1
4,{'$oid': '5a1321d5741a2384e802c559'},A30P2CYOUYAJM8,0110400550,Gene,"[1, 1]",I got this for my 14 year old sister. She lov...,4,Cool purchase.,1363737600,"03 20, 2013",Cell_Phones_and_Accessories,1

In [41]:
Cell_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3185845 entries, 0 to 3185844
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 291.7+ MB

In [42]:
Cell_phones['unixReviewTime'] = pd.to_datetime(Cell_phones['unixReviewTime'],unit='s')

In [43]:
Cell_phones= Cell_phones.rename(columns={'overall': 'Product_rating'})
Cell_phones= Cell_phones.rename(columns={'helpful': 'Review_rating'}) 
Cell_phones= Cell_phones.rename(columns={'reviewerName': 'Reviewer_name'})
Cell_phones= Cell_phones.rename(columns={'asin': 'Product_Id'})
Cell_phones= Cell_phones.rename(columns={'unixReviewTime': 'Time_of_review'})

In [44]:
Cell_phones.drop('reviewTime',axis=1,inplace=True)
Cell_phones.drop('_id',axis=1,inplace=True)
Cell_phones.drop('reviewerID',axis=1,inplace=True)

In [30]:
Cell_phones.head()

,Product_Id,Reviewer_name,Review_rating,reviewText,Product_rating,summary,Time_of_review,category,class
0,0110400550,BiancaNicole,"[4, 4]",Best phone case ever . Everywhere I go I get a...,5,A++++,2013-01-13,Cell_Phones_and_Accessories,1
1,0110400550,"cf ""t""","[0, 3]",ITEM NOT SENT from Blue Top Company in Hong Ko...,1,ITEM NOT SENT!!,2013-01-30,Cell_Phones_and_Accessories,0
2,0110400550,Andrea Busch,"[0, 0]",Saw this same case at a theme park store for 2...,5,Great product,2012-11-22,Cell_Phones_and_Accessories,1
3,0110400550,Aniya pennington,"[3, 3]",case fits perfectly and I always gets complime...,5,Perfect,2013-07-18,Cell_Phones_and_Accessories,1
4,0110400550,Gene,"[1, 1]",I got this for my 14 year old sister. She lov...,4,Cool purchase.,2013-03-20,Cell_Phones_and_Accessories,1

In [46]:
Cell_phones.shape

(3185845, 9)

In [45]:
null_count = Cell_phones.isnull().sum()
print(null_count)

Product_Id            0
Reviewer_name     35568
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
category              0
class                 0
dtype: int64

In [53]:
Cell_phones.value_counts('class')

class
0    930859
1    930859
dtype: int64

In [48]:
Cell_phones_sample_1 = Cell_phones[Cell_phones['class'] == 1].sample(930859)

In [51]:
Cell_phones_sample_0.value_counts('class')

class
0    930859
dtype: int64

In [50]:
Cell_phones_sample_0 = Cell_phones[Cell_phones['class'] == 0].sample(930859)

In [52]:
Cell_phones =Cell_phones_sample_0.append(Cell_phones_sample_1, ignore_index=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_27532\806766823.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cell_phones =Cell_phones_sample_0.append(Cell_phones_sample_1, ignore_index=True)

In [55]:
Cell_phones['reviewText'] = Cell_phones['reviewText'].str.lower()

In [56]:
Cell_phones.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Cell_phones_and_Accessories.csv', index=False)