In [1]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os

Clothing = pd.read_json('C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Clothing_Shoes_and_Jewelry.json', lines=True)

In [4]:
Clothing.shape

(5504331, 12)

In [5]:
Clothing.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a132293741a2384e8376cbc'},A19PBP93OF896,0000031887,"Alinna Satake ""Can't Stop Eating""","[0, 1]",My 3-yr-old daughter received this as a gift f...,1,Tiny and Poorly Constructed!,1363824000,"03 21, 2013",Clothing_Shoes_and_Jewelry,0
1,{'$oid': '5a132293741a2384e8376cb9'},A2G0LNLN79Q6HR,0000031887,"aj_18 ""Aj_18""","[1, 1]",This was a really cute tutu the only problem i...,4,Really Cute but rather short.,1337990400,"05 26, 2012",Clothing_Shoes_and_Jewelry,1
2,{'$oid': '5a132293741a2384e8376cba'},A2XVJBSRI3SWDI,0000031887,abigail,"[0, 0]",Perfect red tutu for the price. I baught it as...,5,Nice tutu,1383523200,"11 4, 2013",Clothing_Shoes_and_Jewelry,1
3,{'$oid': '5a132293741a2384e8376cbd'},A1P0IHU93EF9ZK,0000031887,Amanda,"[0, 0]",Bought it for my daughters first birthday whic...,4,i love it,1390435200,"01 23, 2014",Clothing_Shoes_and_Jewelry,1
4,{'$oid': '5a132293741a2384e8376cbe'},A1KLRMWW2FWPL4,0000031887,"Amazon Customer ""cameramom""","[0, 0]",This is a great tutu and at a really great pri...,5,Great tutu- not cheaply made,1297468800,"02 12, 2011",Clothing_Shoes_and_Jewelry,1

In [6]:
Clothing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5504331 entries, 0 to 5504330
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 503.9+ MB

In [7]:
Clothing['unixReviewTime'] = pd.to_datetime(Clothing['unixReviewTime'],unit='s')

In [8]:
Clothing= Clothing.rename(columns={'overall': 'Product_rating'})
Clothing= Clothing.rename(columns={'helpful': 'Review_rating'}) 
Clothing= Clothing.rename(columns={'reviewerName': 'Reviewer_name'})
Clothing= Clothing.rename(columns={'asin': 'Product_Id'})
Clothing= Clothing.rename(columns={'unixReviewTime': 'Time_of_review'})

In [9]:
Clothing['reviewText'] = Clothing['reviewText'].str.lower()

In [10]:
Clothing.drop('reviewTime',axis=1,inplace=True)
Clothing.drop('_id',axis=1,inplace=True)
Clothing.drop('reviewerID',axis=1,inplace=True)

In [11]:
null_count = Clothing.isnull().sum()
print(null_count)

Product_Id            0
Reviewer_name     13180
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
category              0
class                 0
dtype: int64

In [16]:
Clothing.value_counts('class')

class
0    1169449
1    1169449
dtype: int64

In [13]:
Clothing_sample_1 = Clothing[Clothing['class'] == 1].sample(1169449)

In [14]:
Clothing_sample_0 = Clothing[Clothing['class'] == 0].sample(1169449)

In [15]:
Clothing =Clothing_sample_0.append(Clothing_sample_1, ignore_index=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_22008\421107758.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Clothing =Clothing_sample_0.append(Clothing_sample_1, ignore_index=True)

In [17]:
Clothing.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Clothing_Shoes_and_Jewelry.csv', index=False)