In [1]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os


# Define the path to your JSON file
json_file_path = 'C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Electronics.json'

# Get the total number of rows in the JSON file
total_rows = sum(1 for line in open(json_file_path))

# Calculate the number of rows to read (half of the total rows)
half_rows = total_rows // 2

# Read only half of the JSON file
Toys = pd.read_json(json_file_path, lines=True, nrows=half_rows)

In [4]:
Electronics=Toys

In [6]:
Electronics.shape

(3787084, 12)

In [7]:
Electronics.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13242d741a2384e88f3c11'},A2WNBOD3WNDNKT,0439886341,JAL,"[1, 1]",Some of the functions did not work properly. ...,3,Disappointing,1374451200,"07 22, 2013",Electronics,0
1,{'$oid': '5a13242d741a2384e88f3c0f'},AKM1MP6P0OYPR,0132793040,"Vicki Gibson ""momo4""","[1, 1]",Corey Barker does a great job of explaining Bl...,5,Very thorough,1365811200,"04 13, 2013",Electronics,1
2,{'$oid': '5a13242d741a2384e88f3c12'},A2CX7LUOHB2NDG,0321732944,Bernie,"[0, 0]",While many beginner DVDs try to teach you ever...,5,Adobe Photoshop CS5 Crash Course with master P...,1341100800,"07 1, 2012",Electronics,1
3,{'$oid': '5a13242d741a2384e88f3c10'},A2NWSAGRHCP8N5,0439886341,bowmans2007,"[1, 1]",It never worked. My daughter worked to earn th...,1,absolutely horrible,1367193600,"04 29, 2013",Electronics,0
4,{'$oid': '5a13242d741a2384e88f3c13'},A1GI0U4ZRJA8WN,0439886341,Truthfull,"[4, 4]",Do not waste your money on this thing it is te...,1,TERRIBLE DONT WASTE YOUR MONEY,1334707200,"04 18, 2012",Electronics,0

In [8]:
Electronics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787084 entries, 0 to 3787083
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 346.7+ MB

In [9]:
Electronics['unixReviewTime'] = pd.to_datetime(Electronics['unixReviewTime'],unit='s')

In [10]:
Electronics= Electronics.rename(columns={'overall': 'Product_rating'})
Electronics= Electronics.rename(columns={'helpful': 'Review_rating'}) 
Electronics= Electronics.rename(columns={'reviewerName': 'Reviewer_name'})
Electronics= Electronics.rename(columns={'asin': 'Product_Id'})
Electronics= Electronics.rename(columns={'unixReviewTime': 'Time_of_review'})

In [11]:
Electronics['reviewText'] = Electronics['reviewText'].str.lower()

In [8]:
Electronics.drop('reviewTime',axis=1,inplace=True)
Electronics.drop('_id',axis=1,inplace=True)
Electronics.drop('reviewerID',axis=1,inplace=True)

In [12]:
null_count = Electronics.isnull().sum()
print(null_count)

_id                   0
reviewerID            0
Product_Id            0
Reviewer_name     35072
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
reviewTime            0
category              0
class                 0
dtype: int64

In [18]:
Electronics.value_counts('class')

class
0    938584
1    938584
dtype: int64

In [14]:
Electronics_sample_1 = Electronics[Electronics['class'] == 1].sample(938584)

In [15]:
Electronics_sample_0 = Electronics[Electronics['class'] == 0].sample(938584)

In [16]:
Electronics =Electronics_sample_0.append(Electronics_sample_1, ignore_index=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_16716\1272485249.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Electronics =Electronics_sample_0.append(Electronics_sample_1, ignore_index=True)

In [17]:
Electronics.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Electronics_and_Games.csv', index=False)