In [1]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os

Home = pd.read_json('C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Home_and_Kitchen.json', lines=True)

In [2]:
Home.shape

(3988482, 12)

In [3]:
Home.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a1325b9741a2384e80424d4'},A7J0XOW7DYBBD,0307394530,Allan Mar Cariaso,"[0, 0]",Can't wait to try all the amazing techniques. ...,5,Very helpful,1393113600,"02 23, 2014",Home_and_Kitchen,1
1,{'$oid': '5a1325b9741a2384e80424d1'},A28ILV4TOG8BH2,0130350591,ccjensen,"[0, 0]","The butter dish is serving us well, and keepin...",5,"Nice looking, and keeps the butter fresh",1300752000,"03 22, 2011",Home_and_Kitchen,1
2,{'$oid': '5a1325b9741a2384e80424d2'},A31B4D7URW4DNZ,0307394530,3Gigi3,"[11, 16]",I anxiously waited for the book I had pre orde...,2,Mother of the Bride,1214784000,"06 30, 2008",Home_and_Kitchen,0
3,{'$oid': '5a1325b9741a2384e80424d3'},A2HU0RPDRZZOP1,0307394530,Alexey Leontev,"[0, 0]","Fantastic book, a lot of good, original recipe...",5,amazing book,1277337600,"06 24, 2010",Home_and_Kitchen,1
4,{'$oid': '5a1325b9741a2384e80424d6'},A2MGJ4CELCSG10,0307394530,Amber Owens,"[0, 0]","I was so happy with my purchase, the book was ...",5,Pleased beyond my expectations!,1234137600,"02 9, 2009",Home_and_Kitchen,1

In [4]:
Home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3988482 entries, 0 to 3988481
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 365.2+ MB

In [5]:
Home['unixReviewTime'] = pd.to_datetime(Home['unixReviewTime'],unit='s')

In [6]:
Home= Home.rename(columns={'overall': 'Product_rating'})
Home= Home.rename(columns={'helpful': 'Review_rating'}) 
Home= Home.rename(columns={'reviewerName': 'Reviewer_name'})
Home= Home.rename(columns={'asin': 'Product_Id'})
Home= Home.rename(columns={'unixReviewTime': 'Time_of_review'})

In [7]:
Home['reviewText'] = Home['reviewText'].str.lower()

In [8]:
Home.drop('reviewTime',axis=1,inplace=True)
Home.drop('_id',axis=1,inplace=True)
Home.drop('reviewerID',axis=1,inplace=True)

In [9]:
null_count = Home.isnull().sum()
print(null_count)

Product_Id            0
Reviewer_name     31282
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
category              0
class                 0
dtype: int64

In [10]:
Home.value_counts('class')

class
1    3165285
0     823197
dtype: int64

In [11]:
Home_sample_1 = Home[Home['class'] == 1].sample(823197)

In [12]:
Home_sample_0 = Home[Home['class'] == 0].sample(823197)

In [13]:
home1 = Home_sample_1.append(Home_sample_0)

C:\Users\hp\AppData\Local\Temp\ipykernel_6880\275931382.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  home1 = Home_sample_1.append(Home_sample_0)

In [14]:
home1.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Home_and_Kitchen.csv', index=False)