In [1]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os

Sports = pd.read_json('C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Sports_and_Outdoors.json', lines=True)

In [2]:
Sports.shape

(3013256, 12)

In [3]:
Sports.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a132768741a2384e847b8ed'},A2PAVURT4NOHE1,0000031852,Leah,"[0, 0]",Bought it for a ballet tutu but it is being wo...,5,Super cute,1388361600,"12 30, 2013",Sports_and_Outdoors,1
1,{'$oid': '5a132768741a2384e847b8e9'},A1SNLWGLFXD70K,0000031852,DEVA,"[0, 0]",I origonally didn't get the item I ordered. W...,4,Happy with purchase even though it came a lot ...,1392940800,"02 21, 2014",Sports_and_Outdoors,1
2,{'$oid': '5a132768741a2384e847b8ee'},A3URQ0LXLV46E9,0000031852,shortyvee,"[0, 0]",My daughter and her friends love the colors an...,4,zebralisous,1400544000,"05 20, 2014",Sports_and_Outdoors,1
3,{'$oid': '5a132768741a2384e847b8ea'},A1KJ4CVG87QW09,0000031852,Donna Carter-Scott,"[0, 0]","Arrived very timely, cute grandbaby loves it. ...",4,Cute Tutu,1389657600,"01 14, 2014",Sports_and_Outdoors,1
4,{'$oid': '5a132768741a2384e847b8eb'},AA9ITO6ZLZW6,0000031852,Jazzy77,"[0, 0]",My little girl just loves to wear this tutu be...,5,Versatile,1399507200,"05 8, 2014",Sports_and_Outdoors,1

In [4]:
Sports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013256 entries, 0 to 3013255
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 275.9+ MB

In [5]:
Sports['unixReviewTime'] = pd.to_datetime(Sports['unixReviewTime'],unit='s')

In [6]:
Sports= Sports.rename(columns={'overall': 'Product_rating'})
Sports= Sports.rename(columns={'helpful': 'Review_rating'}) 
Sports= Sports.rename(columns={'reviewerName': 'Reviewer_name'})
Sports= Sports.rename(columns={'asin': 'Product_Id'})
Sports= Sports.rename(columns={'unixReviewTime': 'Time_of_review'})

In [7]:
Sports['reviewText'] = Sports['reviewText'].str.lower()

In [8]:
Sports.drop('reviewTime',axis=1,inplace=True)
Sports.drop('_id',axis=1,inplace=True)
Sports.drop('reviewerID',axis=1,inplace=True)

In [9]:
null_count = Sports.isnull().sum()
print(null_count)

Product_Id            0
Reviewer_name     12917
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
category              0
class                 0
dtype: int64

In [10]:
Sports.value_counts('class')

class
1    2481105
0     532151
dtype: int64

In [11]:
Sports_sample_1 = Sports[Sports['class'] == 1].sample(532151)

In [12]:
Sports_sample_0 = Sports[Sports['class'] == 0].sample(532151)

In [13]:
sports1 = Sports_sample_1.append(Sports_sample_0)
sports1.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Sports_and_Outdoors.csv', index=False)

C:\Users\hp\AppData\Local\Temp\ipykernel_19692\848680200.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sports1 = Sports_sample_1.append(Sports_sample_0)

In [13]:
# Sports.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Sports_and_Outdoors.csv', index=False)