In [1]:
 import pandas as pd
import numpy as np
from sklearn import preprocessing
import os

Toys = pd.read_json('C:/Users/hp/Desktop/AIDI/CAPSTONE/Dataset/json files/Toys_and_Games.json', lines=True)

In [2]:
Toys.shape

(1997140, 12)

In [3]:
Toys.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13282b741a2384e879a620'},A3C9CSW3TJITGT,0005069491,Renee,"[0, 0]",I love these felt nursery rhyme characters and...,4,Charming characters but busy work required,1377561600,"08 27, 2013",Toys_and_Games,1
1,{'$oid': '5a13282b741a2384e879a621'},A31POTIYCKSZ9G,0076561046,So CA Teacher,"[0, 0]",I see no directions for its use. Therefore I h...,3,No directions for use...,1404864000,"07 9, 2014",Toys_and_Games,0
2,{'$oid': '5a13282b741a2384e879a622'},A2GGHHME9B6W4O,0131358936,Dalilah G.,"[0, 0]",This is a great tool for any teacher using the...,5,Great CD-ROM,1382400000,"10 22, 2013",Toys_and_Games,1
3,{'$oid': '5a13282b741a2384e879a61f'},AMEVO2LY6VEJA,0000191639,Nicole Soeder,"[0, 0]","Great product, thank you! Our son loved the pu...",5,Puzzles,1388016000,"12 26, 2013",Toys_and_Games,1
4,{'$oid': '5a13282b741a2384e879a623'},A1FSLDH43ORWZP,0133642984,Dayna English,"[0, 0]",Although not as streamlined as the Algebra I m...,5,Algebra II -- presentation materials,1374278400,"07 20, 2013",Toys_and_Games,1

In [4]:
Toys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1997140 entries, 0 to 1997139
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   reviewerID      object
 2   asin            object
 3   reviewerName    object
 4   helpful         object
 5   reviewText      object
 6   overall         int64
 7   summary         object
 8   unixReviewTime  int64
 9   reviewTime      object
 10  category        object
 11  class           int64
dtypes: int64(3), object(9)
memory usage: 182.8+ MB

In [5]:
Toys['unixReviewTime'] = pd.to_datetime(Toys['unixReviewTime'],unit='s')

In [6]:
Toys= Toys.rename(columns={'overall': 'Product_rating'})
Toys= Toys.rename(columns={'helpful': 'Review_rating'}) 
Toys= Toys.rename(columns={'reviewerName': 'Reviewer_name'})
Toys= Toys.rename(columns={'asin': 'Product_Id'})
Toys= Toys.rename(columns={'unixReviewTime': 'Time_of_review'})

In [7]:
Toys['reviewText'] = Toys['reviewText'].str.lower()

In [8]:
Toys.drop('reviewTime',axis=1,inplace=True)
Toys.drop('_id',axis=1,inplace=True)
Toys.drop('reviewerID',axis=1,inplace=True)

In [9]:
null_count = Toys.isnull().sum()
print(null_count)

Product_Id            0
Reviewer_name     10782
Review_rating         0
reviewText            0
Product_rating        0
summary               0
Time_of_review        0
category              0
class                 0
dtype: int64

In [10]:
Toys.value_counts('class')

class
1    1662754
0     334386
dtype: int64

In [11]:
Toys_sample_1 = Toys[Toys['class'] == 1].sample(334386)

In [12]:
Toys_sample_0 = Toys[Toys['class'] == 0].sample(334386)

In [13]:
toys1 = Toys_sample_1.append(Toys_sample_0)

C:\Users\hp\AppData\Local\Temp\ipykernel_18712\1974339770.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  toys1 = Toys_sample_1.append(Toys_sample_0)

In [14]:
toys1.to_csv('C:/Users/hp/Desktop/AIDI/CAPSTONE/cleaned_data/Toys_and_Games.csv', index=False)